<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather-icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Syed Mohsin Raza. It uses data from MapBox and WeatherStack.</p>
        <img src="/images/me.png" alt="Author - Syed Mohsin Raza" class="about-img">
    </div>
    {{>footer}}
</body>

</html>